@model itcast.crm16.model.ModelViews.LoginInfo

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="~/Content/themes/templateUI/assets/css/core.css" />
    <link rel="stylesheet" href="~/Content/themes/templateUI/assets/css/menu.css" />
    <link rel="stylesheet" href="~/Content/themes/templateUI/assets/css/amazeui.css" />
    <link rel="stylesheet" href="~/Content/themes/templateUI/assets/css/component.css" />
    <link rel="stylesheet" href="~/Content/themes/templateUI/assets/css/page/form.css" />
    <script type="text/javascript" src="~/Content/themes/templateUI/assets/js/jquery-2.1.0.js"></script>
    <script src="~/Areas/admin/Scripts/login.js"></script>
</head>
<body>
    <div class="account-pages">
        <div class="wrapper-page">
            <div class="text-center">
                <a href="index.html" class="logo"><span>Admin<span>to</span></span></a>
            </div>

            <div class="m-t-40 card-box">
                <div class="text-center">
                    <h4 class="text-uppercase font-bold m-b-0">登录界面</h4>
                </div>
                <div class="panel-body">
                    <form class="am-form">
                        <div class="am-g">
                            <div class="am-form-group">
                                <input type="text" class="am-radius" id="loginname" placeholder="请输入登录账号">
                            </div>

                            <div class="am-form-group form-horizontal m-t-20">
                                <input type="password" class="am-radius" id="password" placeholder="请输入密码">
                            </div>

                            <div class="am-form-group ">
                                <label style="font-weight: normal;color: #999;">
                                    <input type="checkbox" class="remeber">七天免登陆
                                </label>
                            </div>

                            <div class="am-form-group ">
                                <button type="button" class="am-btn am-btn-primary am-radius btn-login" style="width: 100%;height: 100%;">登 录</button>
                            </div>

                            <div class="am-form-group ">
                                <a href="page-recoverpw.html" class="text-muted"><i class="fa fa-lock m-r-5"></i></a>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
